body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

nav a {
  color: orange;
  margin-right: 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 10px 0;
    color: white;
  }
  
  footer a {
    color: cyan;
    text-decoration: none;
    margin: 0 10px;
  }
  