body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

nav a {
  color: orange;
  margin-right: 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
